@font-face {
	font-family: 'icomoon';
	src:  url('/css/icons/fonts/icomoon.eot?r1a2zl');
	src:  url('/css/icons/fonts/icomoon.eot?r1a2zl#iefix') format('embedded-opentype'),
			url('/css/icons/fonts/icomoon.ttf?r1a2zl') format('truetype'),
			url('/css/icons/fonts/icomoon.woff?r1a2zl') format('woff'),
			url('/css/icons/fonts/icomoon.svg?r1a2zl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.cnm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cnm-schedule:before {
  content: "\e8b5";
}
.cnm-account_box:before {
  content: "\e851";
}
.cnm-account_circle:before {
  content: "\e853";
}
.cnm-add:before {
  content: "\e145";
}
.cnm-add_circle:before {
  content: "\e147";
}
.cnm-control_point:before {
  content: "\e3ba";
}
.cnm-arrow_back:before {
  content: "\e5c4";
}
.cnm-arrow_downward:before {
  content: "\e5db";
}
.cnm-arrow_drop_down:before {
  content: "\e5c5";
}
.cnm-arrow_drop_up:before {
  content: "\e5c7";
}
.cnm-arrow_forward:before {
  content: "\e5c8";
}
.cnm-arrow_upward:before {
  content: "\e5d8";
}
.cnm-backspace:before {
  content: "\e14a";
}
.cnm-beenhere:before {
  content: "\e52d";
}
.cnm-turned_in:before {
  content: "\e8e6";
}
.cnm-turned_in_not:before {
  content: "\e8e7";
}
.cnm-build:before {
  content: "\e869";
}
.cnm-chat_bubble:before {
  content: "\e0ca";
}
.cnm-chat_bubble_outline:before {
  content: "\e0cb";
}
.cnm-close:before {
  content: "\e5cd";
}
.cnm-code:before {
  content: "\e86f";
}
.cnm-date_range:before {
  content: "\e916";
}
.cnm-delete_forever:before {
  content: "\e92b";
}
.cnm-done:before {
  content: "\e876";
}
.cnm-done_all:before {
  content: "\e877";
}
.cnm-donut_large:before {
  content: "\e917";
}
.cnm-donut_small:before {
  content: "\e918";
}
.cnm-markunread:before {
  content: "\e159";
}
.cnm-equalizer:before {
  content: "\e01d";
}
.cnm-error:before {
  content: "\e000";
}
.cnm-error_outline:before {
  content: "\e001";
}
.cnm-insert_invitation:before {
  content: "\e24f";
}
.cnm-exit_to_app:before {
  content: "\e879";
}
.cnm-favorite:before {
  content: "\e87d";
}
.cnm-favorite_border:before {
  content: "\e87e";
}
.cnm-fiber_new:before {
  content: "\e05e";
}
.cnm-find_in_page:before {
  content: "\e880";
}
.cnm-folder:before {
  content: "\e2c7";
}
.cnm-folder_open:before {
  content: "\e2c8";
}
.cnm-question_answer:before {
  content: "\e8af";
}
.cnm-star:before {
  content: "\e838";
}
.cnm-people:before {
  content: "\e7fb";
}
.cnm-group_add:before {
  content: "\e7f0";
}
.cnm-hd:before {
  content: "\e052";
}
.cnm-help:before {
  content: "\e887";
}
.cnm-help_outline:before {
  content: "\e8fd";
}
.cnm-highlight_off:before {
  content: "\e888";
}
.cnm-restore:before {
  content: "\e8b3";
}
.cnm-home:before {
  content: "\e88a";
}
.cnm-lock:before {
  content: "\e897";
}
.cnm-import_export:before {
  content: "\e0c3";
}
.cnm-info:before {
  content: "\e88e";
}
.cnm-info_outline:before {
  content: "\e88f";
}
.cnm-keyboard:before {
  content: "\e312";
}
.cnm-keyboard_arrow_down:before {
  content: "\e313";
}
.cnm-keyboard_arrow_left:before {
  content: "\e314";
}
.cnm-keyboard_arrow_right:before {
  content: "\e315";
}
.cnm-keyboard_arrow_up:before {
  content: "\e316";
}
.cnm-label:before {
  content: "\e892";
}
.cnm-label_outline:before {
  content: "\e893";
}
.cnm-theaters:before {
  content: "\e8da";
}
.cnm-local_offer:before {
  content: "\e54e";
}
.cnm-lock_open:before {
  content: "\e898";
}
.cnm-lock_outline:before {
  content: "\e899";
}
.cnm-sync:before {
  content: "\e627";
}
.cnm-loyalty:before {
  content: "\e89a";
}
.cnm-mail_outline:before {
  content: "\e0e1";
}
.cnm-menu:before {
  content: "\e5d2";
}
.cnm-message:before {
  content: "\e0c9";
}
.cnm-more_vert:before {
  content: "\e5d4";
}
.cnm-movie_creation:before {
  content: "\e404";
}
.cnm-new_releases:before {
  content: "\e031";
}
.cnm-ondemand_video:before {
  content: "\e63a";
}
.cnm-person:before {
  content: "\e7fd";
}
.cnm-person_add:before {
  content: "\e7fe";
}
.cnm-person_pin:before {
  content: "\e55a";
}
.cnm-personal_video:before {
  content: "\e63b";
}
.cnm-pie_chart:before {
  content: "\e6c4";
}
.cnm-pie_chart_outlined:before {
  content: "\e6c5";
}
.cnm-play_circle_filled:before {
  content: "\e038";
}
.cnm-play_circle_outline:before {
  content: "\e039";
}
.cnm-refresh:before {
  content: "\e5d5";
}
.cnm-visibility:before {
  content: "\e8f4";
}
.cnm-report:before {
  content: "\e160";
}
.cnm-warning:before {
  content: "\e002";
}
.cnm-search:before {
  content: "\e8b6";
}
.cnm-settings:before {
  content: "\e8b8";
}
.cnm-slideshow:before {
  content: "\e41b";
}
.cnm-textsms:before {
  content: "\e0d8";
}
.cnm-sort:before {
  content: "\e164";
}
.cnm-sort_by_alpha:before {
  content: "\e053";
}
.cnm-star_border:before {
  content: "\e83a";
}
.cnm-star_half:before {
  content: "\e839";
}
.cnm-stars:before {
  content: "\e8d0";
}
.cnm-subscriptions:before {
  content: "\e064";
}
.cnm-swap_vert:before {
  content: "\e8d5";
}
.cnm-swap_vertical_circle:before {
  content: "\e8d6";
}
.cnm-thumb_down:before {
  content: "\e8db";
}
.cnm-thumb_up:before {
  content: "\e8dc";
}
.cnm-thumbs_up_down:before {
  content: "\e8dd";
}
.cnm-today:before {
  content: "\e8df";
}
.cnm-tune:before {
  content: "\e429";
}
.cnm-tv:before {
  content: "\e333";
}
.cnm-update:before {
  content: "\e923";
}
.cnm-view_comfy:before {
  content: "\e42a";
}
.cnm-view_list:before {
  content: "\e8ef";
}
.cnm-view_module:before {
  content: "\e8f0";
}
.cnm-visibility_off:before {
  content: "\e8f5";
}
.cnm-voice_chat:before {
  content: "\e62e";
}
.cnm-vpn_key:before {
  content: "\e0da";
}
.cnm-watch_later:before {
  content: "\e924";
}
